@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-color: #303F9F;
$second-color: #3F51B5;
$third-color: #FBC02D;
$site: #3a5d9f;
$light: #ebf7e8;

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(60deg, #77c6ff, #9a43ff);
  .wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    .heading {
      font-size: 62px;
      font-weight: bold;
      text-transform: uppercase;
      color: $light;
      text-align: center;
      max-width: 70%;
      margin: 0;
      &.max-width {
        max-width: 100%;
      }
    }
    &.active {
      width: 96vw;
      height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;

      .heading {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //animation: hue 10s infinite linear;
        background-image: -webkit-linear-gradient(60deg, #77c6ff, #9a43ff);
      }
    }
    .new-user {
      form {
        margin-top: 50px;
        input {
          background: transparent;
          border: none;
          font-size: 30px;
          text-align: center;
          color: #9a43ff;
          text-transform: lowercase;
          width: 55%;
          &::placeholder {
            color: #9a43ff;
            text-transform: none;
          }
        }
        button {
          background: none;
          border: none;
          color: #9a43ff;
          font-size: 50px;
          cursor: pointer;
        }
      }
    }
    .flex {
      display: flex;
      width: 100vw;
      justify-content: center;
      .onlineUsers {
        width: 20%;
        height: 50vh;
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          color: $light;
          text-align: center;
          //animation: hue 10s infinite linear;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(60deg, #77c6ff, #9a43ff);
        }
        ul {
          height: 50vh;
          overflow: auto;
          margin: 10px;
          //background-color: #3a5d9f;
          border-style: solid;
          border-width: 8PX;
          border-image:  linear-gradient(60deg, #77c6ff, #9a43ff) 8 round;
          &::-webkit-scrollbar
          {
            width: 10px;
            //background-color: #3a5d9f;
            background: none;
          }
          &::-webkit-scrollbar-thumb {
            background: rgba(67, 183, 255, 0.19);
          }
          li {
            padding: 5px 10px;
            //color: $light;
            margin: 10px 0;
          }
        }
      }
      .SMS {
        width: 70%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        table {
          //display: block;

          box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.75);
          input {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 24px;
            transition: opacity .5s ease-out ;
          }
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s linear .2s, opacity .2s linear;
          position: absolute;
          z-index: 3;
          bottom: 60px;
          right: 0;
          background: rgba(#ffffff, .8);
          padding: 20px;
          border-radius: 5px;
          border-collapse: collapse;
          &.open {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity .3s linear;
          }
          tr {
            border-collapse: collapse;
            padding: 15px;
            td {
              border-collapse: collapse;
              padding: 15px;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
        ul {
          height: 55vh;
          border-style: solid;
          border-width: 8PX;
          border-image:  linear-gradient(60deg, #77c6ff, #9a43ff) 8 round;
          padding: 10px;
          //border-radius: 20px;
          overflow-y: auto;
          width: 100%;
          &::-webkit-scrollbar
          {
            width: 10px;
            border-radius: 20px;
            //background-color: #3a5d9f;
            background: none;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #6c59c8;
          }
          li {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 30px 0;
            //border-radius: 20px;
            border: 1px solid #bdf5ff;
            p {
              display: flex;
              font-size: 18px;
              justify-content: flex-start;
            }
            .info {
              display: flex;
              justify-content: flex-end;
              * {
                padding: 5px;
              }
            }
          }
        }
      }
    }

    .Adding {
      form {
        position: relative;
        div {
          display: inline-block;


        }
        input{
          &.noDef {
            border: none;
            width: auto;
            max-width: 40px;
            cursor: pointer;
          }
          width: 80%;
          border: none;
          background: none;
          height: 50px;
          border-bottom: 2px solid ;
          border-image:  linear-gradient(60deg, #77c6ff, #9a43ff) 2 round;
          font-size: 24px;
          &::placeholder{
            color: #afafaf;
          }
        }
        button, svg {
          background: none;
          font-size: 40px;
          color: #9a43ff;
          border: none;
          cursor: pointer;
          transition: .6s;
          &:hover {
            color: #c9c9c9;
            table{
              opacity: 1;
              display: block;
            }
          }
        }
      }
    }
  }
}
@keyframes hue {
  from {
   filter: hue-rotate(0deg);
  }
  to {
   filter: hue-rotate(360deg);
  }
}
