@import "normalize";
@import "preloader";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-color: #303F9F;
$second-color: #3F51B5;
$third-color: #FBC02D;
$site: #3a5d9f;
$light: #ebf7e8;

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(60deg, #77c6ff, #9a43ff);

  &.night {
    background: #2d2d2d;
    .wrap {
      .Adding {
        form {
          svg {
            color: #61dafb;
            &:hover {
              color: #397dc4;
            }
          }
          input {
            border-image: none;
            border-bottom-color: #2d2d2d;
            color: #CC7A6F;
          }
        }
      }
      .flex {
        .onlineUsers {
          h1 {
            -webkit-text-fill-color: #61dafb;
          }
          ul {
            border-image: none;
            border-color: #2d2d2d;
            &::-webkit-scrollbar-thumb {
              background: #333;
            }
            li {
              color: #CC7A6F;
            }
          }

        }
        .SMS ul {
          border-image: none;
          border-color: #2d2d2d;
          &::-webkit-scrollbar-thumb {
            background: #333;
          }
          li {
            border: 2px solid rgba(255, 255, 255, 0.08);
            p {
              color: #CC7A6F;
            }
            .info {
              color: #b16159;
            }
          }
        }
      }
    }
    .wrap.active {
      background: #222222;
      .heading {
        -webkit-text-fill-color: #61dafb;
      }
      .Overlay {
        .up {
          color: #61dafb;
          &:before {
            border-image: none;
            border-color: #61dafb;
          }
        }
        }
    }
  }
  .wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

    .Overlay {
      font-size: 30px;
      position: absolute;
      bottom: 5vh;
      left: 5vw;
      .up {
        position: relative;
        color: #9a43ff;
        z-index: 1;
        padding: 10px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-style: solid;
          border-width: 2px;
          border-image: linear-gradient(60deg, #77c6ff, #9a43ff) 2 round
        }
        cursor: pointer;
      }
    }
    .heading {
      animation: headingAnim .9s ease-out;
      font-size: 62px;
      font-weight: bold;
      text-transform: uppercase;
      color: $light;
      text-align: center;
      max-width: 70%;
      margin: 0;
      &.max-width {
        max-width: 100%;
      }
    }
    &.active {
      width: 96vw;
      height: 95vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f7f7f7;

      .heading {
        animation: fade-in .6s ease-in;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(60deg, #77c6ff, #9a43ff);
      }
    }
    .new-user {
      form {
        margin-top: 50px;
        input {
          animation: newUser .8s ease-in;
          background: transparent;
          border: none;
          font-size: 30px;
          text-align: center;
          color: #9a43ff;
          width: 55%;
          &::placeholder {
            color: #9a43ff;
            text-transform: none;
          }
        }
        button {
          animation: newUser 1s ease-in;
          background: none;
          border: none;
          color: #9a43ff;
          transition: .3s;
          font-size: 50px;
          cursor: pointer;
          &:hover {
            color: #7039ca;
          }
        }
      }
    }
    .flex {
      display: flex;
      width: 100vw;
      justify-content: center;
      .onlineUsers {
        animation: fade-in .9s ease-in;
        width: 20%;
        height: 50vh;
        h1 {
          font-weight: bold;
          text-transform: uppercase;
          color: $light;
          text-align: center;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(60deg, #77c6ff, #9a43ff);
        }
        ul {
          height: 50vh;
          overflow: auto;
          margin: 10px;
          border-style: solid;
          border-width: 8px;
          border-image: linear-gradient(60deg, #77c6ff, #9a43ff) 8 round;
          &::-webkit-scrollbar {
            width: 10px;
            background: none;
          }
          &::-webkit-scrollbar-thumb {
            background: rgba(67, 183, 255, 0.19);
          }
          li {
            padding: 5px 10px;
            margin: 10px 0;
          }
        }
      }
      .SMS {
        animation: fade-in 1.3s ease-in-out;
        width: 70%;
        position: relative;
        z-index: 1;
        overflow: hidden;
        table {
          box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.75);
          input {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 24px;
            transition: opacity .5s ease-out;
          }
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s linear .2s, opacity .2s linear;
          position: absolute;
          z-index: 3;
          bottom: 60px;
          right: 0;
          background: rgba(#ffffff, .8);
          padding: 20px;
          border-radius: 5px;
          border-collapse: collapse;
          &.open {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity .3s linear;
          }
          tr {
            border-collapse: collapse;
            padding: 15px;
            td {
              border-collapse: collapse;
              padding: 15px;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
        ul {
          height: 55vh;
          border-style: solid;
          border-width: 8px;
          border-image: linear-gradient(60deg, #77c6ff, #9a43ff) 8 round;
          padding: 10px;
          overflow-y: auto;
          width: 100%;
          &::-webkit-scrollbar {
            width: 10px;
            border-radius: 20px;
            background: none;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #6c59c8;
          }
          li {
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 30px 0;
            border: 1px solid #bdf5ff;
            p {
              font-size: 18px;
              text-align: left;
            }
            .info {
              display: flex;
              justify-content: flex-end;
              * {
                padding: 5px;
              }
            }
          }
        }
      }
    }

    .Adding {
      animation: headingAnim 1s ease-in;
      form {
        position: relative;
        div {
          display: inline-block;
        }
        input {
          &.noDef {
            border: none;
            width: auto;
            max-width: 40px;
            cursor: pointer;
          }
          width: 80%;
          border: none;
          background: none;
          height: 50px;
          border-bottom: 2px solid;
          border-image: linear-gradient(60deg, #77c6ff, #9a43ff) 2 round;
          font-size: 24px;
          &::placeholder {
            color: #afafaf;
          }
        }
        button, svg {
          background: none;
          font-size: 40px;
          color: #9a43ff;
          border: none;
          cursor: pointer;
          transition: .6s;
          &:hover {
            color: #7039ca;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 860px) {
  body {
    .wrap {
      .heading {
        font-size: 52px;
      }
      .Adding {
        padding: 10px 0 20px;
        form {
          svg {
            font-size: 33px;
          }
        }
      }
      .flex {
        flex-direction: column-reverse;
        align-items: center;
        .onlineUsers {
          height: 20vh;
          width: 70%;
          margin-top: 15px;
          h1 {
            text-align: left;
          }
          ul {
            height: 15vh;
            width: 100%;
            margin: 0;
            li {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  body {
    .wrap {
      .heading {
        font-size: 46px;
      }
      .Adding {
        padding: 0;
        form {
          svg {
            font-size: 26px;
          }
          input {
            font-size: 22px;
            width: 70%;
          }
        }
      }
    }
  }
}

@keyframes headingAnim {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes newUser {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
